<html>
	<body>
		Hi <%=@first_name%>,<br>
		<br>
		Thank you for joining QuickTalk, we are sure you will enjoy you're stay! : )<br>
		<br>
        Please click this link to customize your app right away:<br>
        <a href='<%= "http://localhost:3000/onboarding?access_token=#{@access_token}" %>'><%= "http://quick-talk.herokuapp.com/onboarding?access_token=#{@access_token}" %></a>
        <br><br>
		Please follow the instructional steps to get started, and in no time you'll have:<br>
		1) Branded your app<br>
		2) Set up your app on your phone<br>
		3) And invited your clients to start using your new app<br>
		<br>
		It is that easy!<br>
		 <br>
		Please let us know any questions you may have by replying to this email, we are right here.<br>
		 <br>
		Thank you,<br>
		The QuickTalk Team<br><br>
    P.S. You can make changes at any time to the brand of your app by going to<br>
        
		 <a href="http://quick-talk.herokuapp.com">quick-talk.herokuapp.com</a><br><br>
        Then signing in with:<br>
		<strong>Email:</strong> <%=@email%><br>
		<strong>Password: </strong><%=@password%><br>
	</body>
</html>