.row.flash-notice
  = render partial: "shared/notices"
.row
  .login-box.text-center.loginscreen.animated.fadeInDown
    %div
      %h2 Welcome!
      %p
        If you have an existing account, sign in below.
      = form_for(resource, as: resource_name, url: session_path(resource_name),html: {id: "login-form"}) do |f|
        .form-group
          -email = cookies[:last_sign_in] || ""
          %input#email.form-control{name: "#{resource_name}[email]", value: email, type: "text", placeholder: "Email", required: true}
        .form-group
          =f.password_field :password, placeholder: 'Password', required: :true, class: 'form-control',id:'password'
        .form-group
          .row
            .col-md-5
              - if devise_mapping.rememberable?
                .checkbox
                  %label
                    = f.check_box :remember_me
                    Remember Me
            .col-md-2
            .col-md-5{style:"top:10px;"}
              = link_to "Forgot Password?", new_password_path(resource_name)
        .form-group
          =f.submit 'Sign In', class: 'btn btn-primary block full-width m-b'
       