.row.flash-notice
  = # render partial: "shared/notices"
.row
  .login-box.text-center.loginscreen.animated.fadeInDown
    %div
      =image_tag "QTalkLogo_Aug2015.png", width: "100%", height: "auto"
      .spacer{style: "height:20px;"}
      = form_for(resource, as: resource_name, url: session_path(resource_name),html: {id: "login-form"}) do |f|
        .form-group
          -#email = cookies[:last_sign_in] || ""
          %input#email.form-control{name: "#{resource_name}[email]", type: "email", placeholder: "Email", required: true}
        .form-group
          =f.password_field :password, placeholder: 'Password', required: :true, class: 'form-control',id:'password'
        .form-group
          .row
            .col-xs-6.text-left
              - if devise_mapping.rememberable?
                .checkbox.checkbox-success
                  = f.check_box :remember_me
                  %label.white-font
                    Remember Me
            .col-xs-6.margin-10.text-right
              = link_to "Forgot Password?", new_password_path(resource_name), class: "white-font"
        .form-group
          =f.submit 'Sign In', class: 'btn btn-primary block full-width'
       