-@extra_class = "gradient-gray"
.wrapper.wrapper-content
  .row
    #phone-demo-container
      =render "iphone_template"
#logo-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Edit Logo
      .modal-body
        = form_for [current_user, @brand], url: user_brand_path, authenticity_token: true, html: {:multipart => true, :remote => true, id: "logo-upload-form"} do |f|
          .form-group.row
            .col-sm-12
              %span.btn.btn-block.btn-lg.btn-primary.fileinput-button.done
                %i.fa.fa-plus
                %span Upload File
                = f.file_field :logo_image, class: "file"
          .form-group.row
            .col-sm-12
              =link_to raw('<i class="fa fa-minus-circle"></i><span> Remove image</span>'), delete_logo_user_brand_path(brand_id: @brand.id), :method => :delete, class: "btn btn-danger btn-block btn-lg", id: 'remove-logo-butt', remote: true
          .row.text-center.lead
            Or Enter Company Name
          .form-group.row
            .col-sm-12
              = f.text_field :company_name, class: "form-control", autocomplete: "off", placeholder: "Company Name", required: :true, id: "brand-name-input"
          .form-group.row
            .col-sm-12
              = f.submit "Update Brand", class: "done btn btn-primary btn-block margin-top-2x"
#avatar-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Edit Picture
      .modal-body
        = form_for [current_user, @brand], url: user_brand_path, authenticity_token: true, html: {:multipart => true, :remote => true, id: "avatar-upload-form"} do |f| 
          .form-group.row
            .col-sm-12
              %span.btn.btn-block.btn-lg.btn-primary.fileinput-button.done
                %i.fa.fa-plus
                %span Upload File
                = f.file_field :profile_image, class: "file"
          .form-group.row
            .col-sm-12
              =link_to raw('<i class="fa fa-minus-circle"></i><span> Remove image</span>'), delete_profile_image_user_brand_path(brand_id: @brand.id), :method => :delete, class: "btn btn-danger btn-block btn-lg", id: 'remove-avatar-butt', remote: true
#misc-text-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Enter Text
      .modal-body
        = form_for [current_user, @brand], url: user_brand_path, authenticity_token: true, html: {:multipart => true, :remote => true, class: "form-horizontal"} do |f|
          .form-group
            .col-sm-12
              = f.text_field :line_one, class: "form-control", maxlength: "65", autocomplete: "off", placeholder: "First line of text"
          .form-group
            .col-sm-12
              = f.text_field :line_two, class: "form-control", maxlength: "65", autocomplete: "off", placeholder: "Second line of text"
          .form-group
            .col-sm-12
              = f.submit "Save Changes", class: "done btn btn-block btn-primary pull-right margin-top-2x"
#website-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Company's Website
      .modal-body
        = form_for [current_user, @brand], url: user_brand_path, authenticity_token: true, html: {:multipart => true, :remote => true} do |f|
          .form-group.row
            .col-sm-12
              = f.url_field :brand_website, class: "form-control", autocomplete: "off", placeholder: "http://www.name.com"
          .row
            .col-sm-12
              = f.submit "Save Changes", class: "btn btn-primary btn-block done margin-top-2x"
#phone-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Company's Phone
      .modal-body
        = form_for [current_user, @brand], url: user_brand_path, authenticity_token: true, html: {:multipart => true, :remote => true} do |f|
          .form-group.row
            .col-sm-12
              = f.phone_field :brand_phone, class: "form-control phone-mask", autocomplete: "off", placeholder: "(xxx) xxx-xxxx", id: "brand-phone-input"
          .row
            .col-sm-12
              = f.submit "Save Changes", class: "btn btn-primary btn-block done margin-top-2x"
#email-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Company's Email
      .modal-body
        = form_for [current_user, @brand], url: user_brand_path, authenticity_token: true, html: {:multipart => true, :remote => true} do |f|
          .form-group.row
            .col-sm-12
              = f.email_field :brand_email, class: "form-control", autocomplete: "off", placeholder: "name@email.com", id: "brand-email-input"
          .row
            .col-sm-12
              = f.submit "Save Changes", class: "btn btn-primary btn-block done margin-top-2x"
#share-modal.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Share Code
      .modal-body
        .lead.text-center
          Your Share Code is 34B7Y
#process-bar.modal.fade{"data-backdrop" => "false", "data-keyboard" => "false"}
  .modal-dialog
    .modal-content
      .modal-header
        %h1 Processing...
      .modal-body
        %h3.progress-indicator.text-center
        #progress
          .bar.progress-bar.progress-bar-success.progress-bar-striped.active{:style => "width: 100%;"}
