!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title QuickTalk
    = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    / jQuery
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"}
    / jQuery fallback
    :javascript
      if (typeof jQuery === 'undefined') {
        document.write(unescape('%3Cscript%20src%3D%22/assets/jquery.js%22%3E%3C/script%3E'));
        document.write(unescape('%3Cscript%20src%3D%22/assets/jquery-ui.js%22%3E%3C/script%3E'));
      }
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.top-navigation.pace-done
    #wrapper{class: "#{params[:controller]}-#{params[:action]}"}
      #page-wrapper{class: "#{@extra_class}"}
        = render 'layouts/topnavbar_2'
        = yield
        = #render 'layouts/footer'
        = #debug(params) if Rails.env.development?
    = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
    = yield :javascript
